body {
    font-family: 'Bahnschrift';
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.TitleContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.TitleContainer img {
    height: 4em;
    margin-right: 8px;
}

.TitleContainer span {
    font-size: 2em;
}

.nav-bar {
    gap: 20px;
    margin-right: 5%;
    display: flex;
    font-size: 1.5em;
}

.nav-bar a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.CircleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 15%; 
}

.Circle {
    align-items: center;
    width: 350px; 
    height: 350px;
    border: 20px dotted #000;
    border-radius: 50%;
    font-size: 200px;
    color: transparent; 
    line-height: 500px;
    text-align: center;
    background: none;
    animation: rotateCircle 30s linear infinite;
}

.Circle img {
    height: 90%;
    width: 90%;
    border-radius: 50%;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.socials {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 150px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.socials-right {
    margin-bottom: 100px;
}

.socials-left {
    margin-bottom: 100px;
}

.socials-center {
    margin-right: 50px;
}

.socials img{
    height: 1em;
}

.socials span {
    font-size: 1em;
}